doctype html
html
    head
        link(href="style.css" rel="stylesheet")
    body
        header
        h1 #{title}
            div(class='dropdown')
                button(class='dropButton')
                div(id='dropdownMenu' class='dropdownMenuContent')
                    each item in config.links
                        a(href=item[1])
            nav
                ul
                    each item in config.menu
                        a(href=item[1])
                            div(class='menu_item')
                                li(id=item[1]) #{item[0]}<a>
        block content
        footer