doctype html
html
    head
        script(src="/test.js")
        link(href="style.css" rel="stylesheet")
    body
        header
        h1 #{title}
            div(class='dropdown')
                button(class='dropButton' onclick='openMenu()')
                    div(class='bar1')
                    div(class='bar2')
                    div(class='bar3')
                        div(id='dropdownMenu' class='dropdownMenuContent')
                            each item in config.links
                                a(href=item[1])
                                    div(class='link_item')
                                        li(id=item[1]) #{item[0]}
            nav
                ul
                    each item in config.menu
                        a(href=item[1])
                            div(class='menu_item')
                                li(id=item[1]) #{item[0]}
        block content
        footer
        h3 Express Burgers